.anchor {
	top: 0px;
	
}

body {
	margin:0px;
	padding:0px;
}

/*.flex-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		flex-wrap:nowrap;
		width: 100%;

	}
*/


/*.flex-item {
		
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-webkit-flex-direction: column;	
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		flex: 1 1 0;
		background-color: white;
		width: 50%;
		text-align: center;
		margin: auto;
		display: -ms-flexbox;
	
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
	
	}
*/
#main {
	width: 100%;
	display: -webkit-flex;	
	display: flex;
	flex-direction: column;
	padding-top: 70px;
	margin:auto;
	justify-content: center;

}

h2 {
	background-color: white;
	text-align: center;
}

#main > div {
	flex: 1 1 auto;
	text-align: center;
}

#main > img {
max-width:320px;
justify-content: center;
margin:auto;

}

#main > div:nth-child(3){
	vertical-align: middle;
	align-self: auto;
	margin:auto;
	height:auto;

}


ul {
	text-align: center;
}

li {
	list-style-type: none;
	text-align: center;
}


button {
	background-color: #4093E0;
	text-align: center;
	color:white;
	align-self: center;
	background: #00BFFF url(assets/cart.png);	
	background-repeat: no-repeat;
	background-position: 2em 50%;
	background-size: 2em;
	border: 0;  
	border-radius: 4px;
	cursor: pointer;
	color: #FFF;  
	font-weight: bold; 
	font-size: 13px;  
	padding: 2em 2em;
	padding-left: 4em;
	text-transform: uppercase;
	margin: auto;
	
}


/*.flex-item-row {
	display: flex;	
	flex-direction: column;
	background-color: cornflowerblue;
	width: 30%;
	height: 500px;
	flex-grow: 1 1 0;
	text-align: center;
	align-items: center;
	justify-content: center;
}*/

/*.main-row {
top: 100px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 100%;
}*/



#meny {
position: fixed;
top:0px;
width: 100%;
height: 70px;

background-color:black;
flex-wrap: wrap;

}

#head-one{
	float:left; 
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	top:0px;
	left:10px;
	} 
#head-two{
	float:right; 
	top:0px;
	} 

.clear{clear:both;} 



a {
text-decoration: none;
color: #212121;
}

a:link {
	text-decoration : none;
	color: #212121;
	
}

a:visited {
	text-decoration : none;
	color: #212121;
	
}

a:hover {
	text-decoration : none;	
	color: #212121;
}
