.anchor {
	top: 0px;
	
}

body {
	margin:0px;
	padding:0px;
}

.flex-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-content: center;
		flex-wrap:wrap;
		
		width: 100%;
	}



.flex-item {
		
		flex-direction: column;
		display: flex; 
		flex: 1 1 0;
		background-color: white;
		max-width: 400px;
		height: 500px;
		text-align: center;
		align-items: center;
		margin: auto;
		
	}

.main {
	top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap:wrap;
	
	width: 100%;
}

h2 {
	background-color: white;
	
	text-align: center;
	flex-grow: 1;
}

ul {
	background-color: white;
	
	text-align: center;
	flex-grow: 1; 
}

li {
	background-color: white;
	
	text-align: center;
	flex-grow: 1;
}


button {
	background-color: #4093E0;
	flex: 1 1 0;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: auto;
}


.flex-item-row {
	display: flex;	
	flex-direction: column;
	background-color: cornflowerblue;
	width: 30%;
	height: 500px;
	flex-grow: 1 1 0;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.main-row {
top: 100px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 100%;
}



#meny {
position: fixed;
top:0px;

width: 100%;
height: 70;

background-color:black;
flex-wrap: nowrap;

}

#head-one{
	float:left; 
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	top:0px;
	left:10px;
	} 
#head-two{
	float:right; 
	top:0px;
	} 

.clear{clear:both;} 



a {
text-decoration: none;
color: #212121;
}

a:link {
	text-decoration : none;
	color: #212121;
	
}

a:visited {
	text-decoration : none;
	color: #212121;
	
}

a:hover {
	text-decoration : none;	
	color: #212121;
}
